{:datomic {:db-uri #or [#env DATOMIC_URI "datomic:sql://stunners?jdbc:postgresql://ec2-54-75-226-228.eu-west-1.compute.amazonaws.com:5432/d2alg7a8v9j2kj?user=ghsnbkisosylne&password=cc5f6708319d8f0ecb6c04f1e52afa6781ff369d4ba157fb889ab15d08c3cea1&ssl=true&sslfactory=org.postgresql.ssl.NonValidatingFactory"]}

 :google-maps-key "AIzaSyCCCkqTdWj-Bk6ZnFVR4LaYy0AzlMEpez0"

 :auth0 {:client-secret #env AUTH0_CLIENT_SECRET
         :audience #env AUTH0_AUDIENCE
         :domain "https://dwmartin41.eu.auth0.com/"}}
