{:datomic {:db-uri #env DATOMIC_URI}

 :google-maps-key #env GOOGLE_MAPS_KEY

 :auth0 {:client-secret #env AUTH0_CLIENT_SECRET
         :audience #env AUTH0_AUDIENCE
         :domain #env AUTH0_DOMAIN}}
